<div id="map-canvas"></div>

<ul>
  <% @restaurants.each do |restaurant| %>
  <div class="list" id=<%= restaurant.id %>>   
    <li><%= restaurant.name %></li>
  <div id="moreinfo" style="display: none;"></div>
  </div>
  <% end %>
</ul>
