#map-canvas {
  height: 300px;
  width: 600px;
}
.list {background-color:#597cb3;
      width:640px;
}
.list:nth-child(odd) {background-color:#a4d178;
}

.dropdown {height:400px;
}
/*.list:nth-child(1) {animation-duration: 3s;
                    animation-name: slidedown;
}

@keyframes slidedown {
  from {

  }
  to {

  }
}*/
ul {padding-left: 0px;
}

ul li {font:3em "HelveticaNeueW01-UltLt";
      list-style-type: none;
      margin-left: 0px;
}