#map-canvas {height: 300px;
            width: 600px;
}
.list {background-color:#597cb3;
      width:640px;
}
.list:nth-child(odd) {background-color:#a4d178;
}

p {margin:0;
}
/*.list:nth-child(1) {animation-duration: 3s;
                    animation-name: slidedown;
}

@keyframes slidedown {
  from {

  }
  to {

  }
}*/
ul {padding-left: 0px;
}
p {font:1em "HelveticaNeueW01-UltLt";
}
ul li {font:3em "HelveticaNeueW01-UltLt";
      list-style-type: none;
      margin-left: 0px;
}