#map-canvas {height: 375px;
            width: 640px;
}
.list {background-color:#E9E5DC;
      width:640px;
}
ul {margin:0;
}
body {margin:0;
}
p {margin:0;
}
/*.list:nth-child(1) {animation-duration: 3s;
                    animation-name: slidedown;
}

@keyframes slidedown {
  from {

  }
  to {

  }
}*/
ul {padding-left: 0px;
}
p,a {font:1.5em "Futura W01 Medium";
    margin-left: 5px;
} 
ul li {font:2.7em "Futura W01 Medium";
      list-style-type: none;
      margin-left: 5px;
}