<!DOCTYPE html>
<html>
<head>
  <title>WWTE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=640">
  <meta property="og:title" content="WWTE"/>
  <meta property="og:url" content="http://www.wherewouldtodeat.com" />
  <meta property="og:description" content="Where Would Tod Eat is the definitive guide to San Francisco restaurants." />
  <meta property="og:image" content="http://www.wherewouldtodeat.com/wwteprevlg.jpg" />
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/684ef610-7e6f-4e87-bd28-a46d6a6e4e63.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
