<!DOCTYPE html>
<html>
<head>
  <title>WWTE</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <script type="text/javascript" src="http://fast.fonts.com/jsapi/684ef610-7e6f-4e87-bd28-a46d6a6e4e63.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
